@media screen and (min-width: 320px) and (max-width: 480px) {
    @media screen and (min-width: 320px) and (max-width: 480px) {
        #juegosPs, #juegosXbox, #juegosNtd, #grillaProductos {
            grid-template-columns: auto;
            grid-template-rows: repeat (3, auto);
            justify-content: center;
            align-content: center;
            row-gap: 1%;
            column-gap: 2%;
        }

        footer {
            display: flex;
            margin-top: 20%;
            height: 8%;
        }

        nav{
            margin-top: 5%;
        }
        .cuenta-carro, .aside, .margenPagos, .margenUbicacion, .margenFiltroXbox, .margenFiltroPs, .margenFiltroNintendo {
            display: none;
        }

        #grillaProductos{
            margin-bottom: 25%;
        }

        #juegosPs, #juegosXbox, #juegosNtd {
            margin-top: 35%;
            margin-bottom: 40%
        }
        .margenProducto {
            display: flex;
            margin-bottom: 25%;
            justify-content: center;
        }

        .bannerNintendo, .bannerXbox {
            display: flex;
            width: 100%;
        }
}
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
#juegosPs, #juegosXbox, #juegosNtd, #grillaProductos {
    grid-template-columns: auto auto;
    grid-template-rows: repeat (3, auto);
    justify-content: center;
    align-content: center;
    row-gap: 1%;
    column-gap: 2%;
    margin-top: 15%;
    }

footer {
    display: flex;
    margin-top: 20%;
    height: 8%;
    }

    nav{
        margin-top: 5%;
    }
    .cuenta-carro, .margenPagos{
        display: none;
    }
    .margenFiltroXbox, .margenFiltroPs, .margenFiltroNintendo {
        margin-top: 5%;
    }

    .margenProducto {
        display: flex;
        margin-bottom: 25%;
        justify-content: center;
    }

    .bannerNintendo, .bannerXbox {
        display: flex;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    #juegosPs, #juegosXbox, #juegosNtd {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat (3, auto);
        justify-content: center;
        align-content:flex-start;
        row-gap: 5%;
        column-gap: 5%;
        margin-bottom: 15%;
    }

    footer {
        margin-top: 10%;
    }

    .card {
        transition: all 2s
       }
       .card:hover {
        transform: scale(1.2)}
}