$colorCuentaCarro: black;

$estiloLetra1: 'Arima', cursive;
$estiloLetra2: 'Bitter', serif;
$estiloLetra3: 'PT Sans Narrow', sans-serif;

$colorLetraFooter: whitesmoke;

$colorGradiente: linear-gradient(90deg, rgba(128,1,1,1) 0%, rgba(250,1,1,0.8664508039543942) 50%, rgba(128,1,1,1) 100%)
